@model MyPoli.BusinessLogic.Models.FeedbackEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="LectureOpinion" class="control-label">Opinion about lecture</label>
                <textarea asp-for="LectureOpinion" class="form-control" rows="3"></textarea>
                <span asp-validation-for="LectureOpinion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectureGrade" class="control-label">Grade for lecture</label>
                <input asp-for="LectureGrade" class="form-control" />
                <small class="form-text text-muted">Please insert a number between 1 and 10.</small>
                <span asp-validation-for="LectureGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeminarOpinion" class="control-label">Opinion about seminar</label>
                <textarea asp-for="SeminarOpinion" class="form-control" rows="3"></textarea>
                <span asp-validation-for="SeminarOpinion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeminarGrade" class="control-label">Grade for seminar</label>
                <input asp-for="SeminarGrade" class="form-control" />
                <small class="form-text text-muted">Please insert a number between 1 and 10.</small>
                <span asp-validation-for="SeminarGrade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

