@{
    ViewData["Title"] = "FAQ Page";
}

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Ce fac dacă nu reuşesc să intru în cont?
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                În cazul în care adresa de email şi parola cunoscute nu funcţionează, vă rugăm să contactati administratorul paginii sau facultatea de care apartineti.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Ce fac dacă nu cunosc seria şi nr. diplomei de BAC ? Diploma se află în dosar la facultate.
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Informaţiile legate de diploma de BAC nu sunt obligatorii.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    De ce ni se cer aşa multe date personale? De ce mi se cere să completez câmpul X?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Sistemul de completare a datelor personale online a fost conceput pentru a uşura interacţiunea dumneavoastră cu secretariatul facultăţii. Astfel, după completarea şi verificarea datelor dumneavoastră, multe dintre operaţiunile care necesitau până acum aceste informaţii se vor putea efectua mult mai repede, pentru că nu mai este nevoie de verificări consumatoare de timp în dosarele dumneavoastră sau poze aduse la secretariat. Câmpurile prevăzute în formular sunt alese de către rectoratul UPB şi se referă la date personale pe care le aveţi depuse şi în cadrul dosarului de la facultate. Ele nu vor fi folosite de către Universitatea Politehnica Bucureşti decât în scopul facilitării relaţiei cu studenţii şi pentru statistici. Datele personale nu vor fi transmise unor terţe părţi. În cazul codului IBAN completat pentru a primi bursele sau decontarea abonamentelor la transportul în comun, acesta va fi transmis către bancă pentru a permite depunerea banilor în contul dumneavoastră.
                Dacă mai aveţi nelămuriri legate de necesitatea completării datelor personale, vă rugăm să vă adresaţi decanatului facultăţii.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Pot primi bursa de studiu în contul pe care îl am la Banca X?
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                Numai dacă banca este una dintre următoarele: BCR, BRD, UniCredit Ţiriac, ING. De asemenea, în cont puteţi primi şi deconturile de transport în comun.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                   Cum/unde completez disciplinele restante pe formularul contractului de studii ?
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                Nu completaţi dvs. disciplinele restante. Acestea vor fi completate automat pe formularul online şi pe contracte, pe care le veţi primi de la secretariat, după data de 15 octombrie.
            </div>
        </div>
    </div>
</div>