@inject MyPoli.Common.DTOs.CurrentUserDto CurrentUser
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/MyStyle.css">
</head>
@if (!CurrentUser.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="container">
            <img src="https://international.upb.ro/assets/img/upb-dri-white.png">
        </div>
        <p>This platform is owned by <a href="https://www.linkedin.com/in/adelin-nicolae-stanca/" target="_blank">me</a>.</p>
    </div>
}
else if (CurrentUser.Roles.Contains("Student"))
{
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://www.qs.com/wp-content/uploads/2016/05/shutterstock_218235004.jpg" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Your profile</h5>
                    <p class="card-text">Choose what you want to do with your profile.</p>
                    <a asp-controller="Students" asp-action="Details" asp-route-id="@CurrentUser.Id" class="mt-auto btn btn-lg btn-primary">See profile</a>
                    @*<a asp-controller="Students" asp-action="EditYourself" class="align-self-end mt-auto btn btn-primary">Edit profile</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://www.gannett-cdn.com/-mm-/900b93cfc33a420aa612b7d27f5759d6be80e12e/c=0-45-714-448/local/-/media/2016/01/06/Nashville/Nashville/635876956564303673-grades.jpg?width=2560" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Check your grades</h5>
                    <p class="card-text">Press the button below in order to see the catalog.</p>
                    <a asp-controller="Students" asp-action="Catalog" class="mt-auto btn btn-lg btn-primary">Catalog</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://leverageedu.com/blog/wp-content/uploads/2019/11/List-of-Courses-after-10th-Standard-800x500.png" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Here you can see all the courses you are enrolled.</p>
                    <a asp-controller="Subjects" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Your courses</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://assets.website-files.com/5ee82250794fdd7a8a9484a1/5ee82250794fdd1b5d9488da_5ea7b1a77335641c50902dec_Rex-Blog-UserGroups.png" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Group</h5>
                    <p class="card-text">Here you can see your group and your colleagues.</p>
                    <a asp-controller="Groups" asp-action="GetGroupOfUser" class="mt-auto btn btn-lg btn-primary">Your group</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <br />

    <div class="row">
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="~/img/proof.png" alt="Card image cap">
                </div>

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Certificates</h5>
                    <p class="card-text">Explore your certificates and generate a new one.</p>
                    <a asp-controller="Certificates" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Your certificates</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="http://www.enhancemywriting.com/wp-content/uploads/2017/10/how-to-write-a-literature-review-dissertation.png" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Theses</h5>
                    <p class="card-text">Check the status of your theses and papers.</p>
                    <a asp-controller="Theses" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Your theses</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" @*src="https://i.ytimg.com/vi/3uWMSWaEy5w/maxresdefault.jpg"*@ src="https://content.thriveglobal.com/wp-content/uploads/2020/06/dissatisfaction.jpg?w=1550" alt="Card image cap">
                </div>

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Personal Circumstances</h5>
                    <p class="card-text">See the status of your past circumstances or create a new one, if you need.</p>
                    <a asp-controller="Circumstances" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Circumstances</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://d3t70bohx4vuj7.cloudfront.net/VQFywGoePAD-dwxqJLELWEMJcvNlpYfEN18o1b2jgt4/resize:fill:500:0/gravity:ce/aHR0cHM6Ly9kMnNsY3cza2lwNnFtay5jbG91ZGZyb250Lm5ldC9tYXJrZXRpbmcvYmxvZy8yMDE5UTEvZ2l2aW5nLWZlZWRiYWNrL2hvdy10by1naXZlLWZlZWRiYWNrLWhlYWRlckAyeC5wbmc" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Feedback</h5>
                    <p class="card-text">Here you can offer feedback for your courses.</p>
                    <a asp-controller="Feedbacks" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Your Feedback</a>
                </div>
            </div>
        </div>
    </div>
}
else if (CurrentUser.Roles.Contains("Teacher"))
{
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://www.counselmagazine.co.uk/images/uploadedfiles/2897f0487328c42b43a0913fd1cebaa932bc.png?sfvrsn=dabd9f37_3" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Your profile</h5>
                    <p class="card-text">Choose what you want to do with your profile.</p>
                    <a asp-controller="Teachers" asp-action="Details" asp-route-id="@CurrentUser.Id" class="mt-auto btn btn-lg btn-primary">See profile</a>
                    @*<a asp-controller="Students" asp-action="EditYourself" class="align-self-end mt-auto btn btn-primary">Edit profile</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://www.gannett-cdn.com/-mm-/900b93cfc33a420aa612b7d27f5759d6be80e12e/c=0-45-714-448/local/-/media/2016/01/06/Nashville/Nashville/635876956564303673-grades.jpg?width=2560" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Grades</h5>
                    <p class="card-text">Press the button below in order to see the catalog and to evaluate your students.</p>
                    <a asp-controller="Grades" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Grades</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://leverageedu.com/blog/wp-content/uploads/2019/11/List-of-Courses-after-10th-Standard-800x500.png" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Here you can see all your courses.</p>
                    <a asp-controller="Subjects" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Your courses</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://assets.website-files.com/5ee82250794fdd7a8a9484a1/5ee82250794fdd1b5d9488da_5ea7b1a77335641c50902dec_Rex-Blog-UserGroups.png" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Group</h5>
                    <p class="card-text">Here you can see your groups and your students.</p>
                    <a asp-controller="Groups" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Your groups</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_44/1625478/teachers-abbey-jc-201026-1625478.jpg" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Teachers</h5>
                    <p class="card-text">Press the button below in order to see your teachers colleagues.</p>
                    <a asp-controller="Teachers" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Teachers</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="http://www.enhancemywriting.com/wp-content/uploads/2017/10/how-to-write-a-literature-review-dissertation.png" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Theses</h5>
                    <p class="card-text">Check the status of your theses and papers.</p>
                    <a asp-controller="Theses" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Your theses</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" @*src="https://i.ytimg.com/vi/3uWMSWaEy5w/maxresdefault.jpg"*@ src="https://content.thriveglobal.com/wp-content/uploads/2020/06/dissatisfaction.jpg?w=1550" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Personal Circumstances</h5>
                    <p class="card-text">See the status of your students' personal circumstances.</p>
                    <a asp-controller="Circumstances" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Circumstances</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top others" src="https://d3t70bohx4vuj7.cloudfront.net/VQFywGoePAD-dwxqJLELWEMJcvNlpYfEN18o1b2jgt4/resize:fill:500:0/gravity:ce/aHR0cHM6Ly9kMnNsY3cza2lwNnFtay5jbG91ZGZyb250Lm5ldC9tYXJrZXRpbmcvYmxvZy8yMDE5UTEvZ2l2aW5nLWZlZWRiYWNrL2hvdy10by1naXZlLWZlZWRiYWNrLWhlYWRlckAyeC5wbmc" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Feedback</h5>
                    <p class="card-text">Here you can see the feedback for your courses.</p>
                    <a asp-controller="Feedbacks" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Your Feedback</a>
                </div>
            </div>
        </div>
    </div>
}
else if (CurrentUser.Roles.Contains("Secretary"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top secretary" src="https://campustechnology.com/-/media/EDU/CampusTechnology/2021-images/20210121collegestudents.jpg"  @*src="https://www.qs.com/wp-content/uploads/2016/05/shutterstock_218235004.jpg"*@ alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text">Press the button below in order to see all the students.</p>
                    <a asp-controller="Students" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Students</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top secretary" src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_44/1625478/teachers-abbey-jc-201026-1625478.jpg" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Teachers</h5>
                    <p class="card-text">Press the button below in order to see teachers department.</p>
                    <a asp-controller="Teachers" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Teachers</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top secretary"  src="https://leverageedu.com/blog/wp-content/uploads/2019/11/List-of-Courses-after-10th-Standard-800x500.png" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Here you can see all the courses.</p>
                    <a asp-controller="Subjects" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Courses</a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="w-100"></div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top secretary" src="https://assets.website-files.com/5ee82250794fdd7a8a9484a1/5ee82250794fdd1b5d9488da_5ea7b1a77335641c50902dec_Rex-Blog-UserGroups.png" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Groups</h5>
                    <p class="card-text">Here you can see your groups and your students.</p>
                    <a asp-controller="Groups" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Groups</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top secretary"  src="~/img/proof.png" alt="Card image cap">
                </div>

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Certificates</h5>
                    <p class="card-text">Explore your certificates and generate a new one.</p>
                    <a asp-controller="Certificates" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Your certificates</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top secretary"  src="https://www.gannett-cdn.com/-mm-/900b93cfc33a420aa612b7d27f5759d6be80e12e/c=0-45-714-448/local/-/media/2016/01/06/Nashville/Nashville/635876956564303673-grades.jpg?width=2560" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Grades</h5>
                    <p class="card-text">Press the button below in order to see the catalog.</p>
                    <a asp-controller="Grades" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Grades</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top secretary"  src="http://www.enhancemywriting.com/wp-content/uploads/2017/10/how-to-write-a-literature-review-dissertation.png" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Theses</h5>
                    <p class="card-text">Check the status of all theses and papers.</p>
                    <a asp-controller="Theses" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Theses</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top secretary" src="https://content.thriveglobal.com/wp-content/uploads/2020/06/dissatisfaction.jpg?w=1550" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Personal Circumstances</h5>
                    <p class="card-text">See the status of students' personal circumstances and approve them.</p>
                    <a asp-controller="Circumstances" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Circumstances</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" >
                <div class="myFuckingClass">
                    <img class="card-img-top secretary" src="https://d3t70bohx4vuj7.cloudfront.net/VQFywGoePAD-dwxqJLELWEMJcvNlpYfEN18o1b2jgt4/resize:fill:500:0/gravity:ce/aHR0cHM6Ly9kMnNsY3cza2lwNnFtay5jbG91ZGZyb250Lm5ldC9tYXJrZXRpbmcvYmxvZy8yMDE5UTEvZ2l2aW5nLWZlZWRiYWNrL2hvdy10by1naXZlLWZlZWRiYWNrLWhlYWRlckAyeC5wbmc" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Feedback</h5>
                    <p class="card-text">Here you can see all the feedback each student gave.</p>
                    <a asp-controller="Feedbacks" asp-action="Index" class="mt-auto btn btn-lg btn-primary">Feedback</a>
                </div>
            </div>
        </div>
    </div>
}

@*<script src="./../jquery.js" type="text/javascript"></script>
    <script src="./../progress.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="./../progress_style.css">
    <div class='progress' id="progress_div">
    <div class='bar' id='bar1'></div>
            <div class='percent' id='percent1'></div>
        </div>

        <input type="hidden" id="progress_width" value="0">*@
