@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Care ai intrat aici, nu mai lenevi si treci la munca. Pwp.</p>

<iframe width="800" height="600" align="middle"
        src="https://www.youtube.com/embed/O_AVuZVVm0I?autoplay=1">
</iframe>

