@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Care ai intrat aici, nu mai lenevi si treci la munca. Pwp.</p>

@*<iframe width="800" height="600" align="middle"
        src="https://www.youtube.com/embed/O_AVuZVVm0I?autoplay=1">
</iframe>*@

<iframe src="https://www.digi24.ro/embed/stiri/actualitate/ctp-pe-langa-teiul-lui-eminescu-de-acum-vom-avea-si-teiul-lui-isarescu-1938953?video=0&width=570&height=320" allowfullscreen marginwidth="0" marginheight="0" align="top" scrolling="no" frameborder="0" hspace="0" vspace="0" width="570" height="320"></iframe>

