
@{
    ViewData["Title"] = "Regenerate";
}
<script>
    alert("The document was downloaded successfully!\nCheck the Downloads folders");
</script>

<h1>Generated successfully</h1>

<a asp-action="Index">Back to List</a>

